


StarterContent/
Saved/
Binaries/
Build/
Debug/
Mannequin/
Intermediate/
DerivedDataCache/
UnrealHeaderTool/
UnrealPak/
obj/
*.VC.opendb
*.opensdf
*.sdf
*.suo
.vscode
.vs
*.VC.db
*.opendb
*.xcodeproj
*.xcworkspace